header {
    background-image: url("assets/back.png");
    height:80px;
}
img {
    float: left;
    height: 60px;
    margin: 10px;
}
h1 {
    font-family: 'Oswald';
    color: #68F0A5;
    margin: 15px;
    float:left;
}
nav {
    position: relative;
    top: 25px;
}
a {
    font-family: 'Oswald';
    margin: 15px 8%;
    color:white;
}