:root {
    --theme-color: #68F0A5;
}
body{
    margin: 0;
}

header {
    z-index: 1;
    background-image: url("assets/back.png");
    height:80px;
}

header > img {
    float: left;
    height: 60px;
    margin: 10px;
}
h1 {
    font-family: 'Oswald';
    color: var(--theme-color);
    margin: 15px;
    float:left;
}
nav {
    position: relative;
    top: 25px;
}
a {
    font-family: 'Oswald';
    margin: 15px 8%;
    color:white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#homepage {
    width: 100%;
    height: 50em;
    background-image: linear-gradient(to bottom right, black, var(--theme-color));
    background-size: cover;
}

#frame {
    position: absolute;
    top: 100px;
    right: 50px;
}

footer {
    background-image: url("assets/back.png");
    height:80px;
    margin: 0px;
    padding: 0px;
}

#footerimage {
    height: 50px;
    margin: 15px 0px 15px 25px;
    float: left;
}

footer > #email {
    font-family: 'Oswald';
    float: right;
    font-style: italic;
    position: relative;
    color: white;
    margin-right: 2%;
    font-size: 28px;
    margin-top: 20px;
}

#description {
    color: white;
    padding: 0px;
    margin: 0px;
    top: 30%;
    left: 5%;
    font-family: 'Oswald';
    position: relative;
    font-size: 48px;
    text-decoration: underline;
    font-style: italic;
}

button {
    background-color: var(--theme-color);
    width: 25%;
    height: 100px;
    color: white;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Oswald';
    letter-spacing: 0.25ch;
    position: relative;
    left: 10%;
    font-weight: bolder;
    border-color: white;
    filter: drop-shadow(5px 5px 5px black);
}

button:hover {
    text-decoration: underline;
    filter: none;
}

#form {
    margin:0;
}

/* showcase.html */
#showcase {
    height: 100%;
    background-color: rgba(0,0,0,0.9);
}
.project {
    overflow: auto;
    color: white;
}
#titleblock {
    width: 50%;
    float: left;
}
#titleblock > h2 {
    width: 100%;
    margin: 0;
    text-align: center;
    font-family: "Oswald";
    float: left;
}
p {
    text-align: center;
    font-family: 'Fira Code';
}
.icon {
    width: 40px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    filter: invert();
}

#formpage {
    background-image: url("/assets/back2.png");
}

#form {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*
#ptemplate {
    display: none;
}
*/


/* about page */
.item { 
    width: 100%;
    font-family: "Oswald";
}
.item > img {
    float: left;
    margin: 8px;
}
.item > p {
    text-align: left;
}
.item > h2 {
    display: inline;
    width: fit-content;
    position: relative;
}
.wrapper {
    width: 100%;
    display: inline-grid;
    grid-template-columns: auto auto;
}

#explanation {
    background-color: rgba(0,0,0,0.9);
    color: white;
    padding: 30px;
    margin: 0;
    margin-bottom: 16px;
    font-size: 24px;
    font-family: 'Fira Code';
}